/* Calendar Overrides */
.booking-calendar-container .react-calendar {
  font-family: inherit;
  background: transparent;
}

.booking-calendar-container .react-calendar__navigation {
  margin-bottom: 2rem;  
}

.booking-calendar-container .react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-calendar-container .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 10px;
  color: var(--text-muted);
  margin-bottom: 1rem;
}

.booking-calendar-container .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.booking-calendar-container .react-calendar__tile {
  padding: 1rem 0.5rem;
  background: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 12px;
  transition: all 0.2s;
}

.booking-calendar-container .react-calendar__tile:enabled:hover,
.booking-calendar-container .react-calendar__tile:enabled:focus {
  background-color: #f3f4f6 !important;
  color: black !important;
  cursor: pointer;
}

.booking-calendar-container .react-calendar__tile--now {
  background: white !important;
  color: black !important;
  position: relative;
  font-weight: 900;
}

.booking-calendar-container .react-calendar__tile--now::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

.booking-calendar-container .react-calendar__tile--now.react-calendar__tile--active {
  background: black !important;
  color: white !important;
}

.booking-calendar-container .react-calendar__tile--now.react-calendar__tile--active::after {
  background: white;
}

.booking-calendar-container .react-calendar__tile--active {
  background: black !important;
  color: white !important;
}

.booking-calendar-container .react-calendar__tile--active abbr {
  color: white !important;
}

.booking-calendar-container .react-calendar__tile--active:enabled:hover,
.booking-calendar-container .react-calendar__tile--active:enabled:focus {
  background: black !important;
  color: white !important;
}

.booking-calendar-container .react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}
